<mat-card *ngIf="!ccCompany">
  <mat-card-content>
    Please select a company.
  </mat-card-content>
</mat-card>
<mat-card *ngIf="ccCompany">
  <mat-card-content>
    <div [hidden]="!ccCompany.cc_company_id" fxLayout="row" fxLayoutAlign="end end">
      <div fxFlex="6%" fxFlexAlign="end" class="idshow">{{ccCompany.cc_company_id}}</div>
      <div fxFlex fxFlexFill></div>
      <div fxFlex="16%" fxFlexAlign="end" class="recorded-on">{{ccCompany.recorded_on | date}}</div>
    </div>
    <div *ngIf="ccCompany.cc_name" fxLayout="row">
      <h2 class="md-title" fxFlex="50%" style="width:50%">{{ccCompany.cc_name}}</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" [hidden]="!ccCompany.url">
      <div fxFlex="8%" class="label">Url:</div>
      <div fxFlex fxFlexFill>{{ccCompany.url}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" [hidden]="!ccCompany.address">
      <div fxFlex="8%" class="label">Address:</div>
      <div fxFlex>{{ccCompany.address_1}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="8px" [hidden]="!ccCompany.address_2">
      <div fxFlex="8%" class="label">Address 2:</div>
      <div fxFlex fxFlexFill>{{ccCompany.address_2}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" [hidden]="!(ccCompany.city && ccCompany.state && ccCompany.zip)">
      <div fxFlex="8%" class="label"></div>
      <div fxFlex="15%" fxFlexFill>{{ccCompany.city}}<span [hidden]="!(ccCompany.city && ccCompany.state)">, </span>{{ccCompany.state}}</div>
      <div fxFlex="8%">{{ccCompany.zip }}</div>
      <div fxFlex fxFlexFill></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
      <div [hidden]="!ccCompany.phone" class="label" fxFlex="8%">Phone:</div>
      <div [hidden]="!ccCompany.phone" fxFlex="95px">{{ccCompany.phone }}</div>
      <div [hidden]="!ccCompany.phone_2" class="label" fxFlex="8%">Phone 2:</div>
      <div [hidden]="!ccCompany.phone_2" fxFlex="95px">{{ccCompany.phone_2 }}</div>
      <div [hidden]="!ccCompany.phone_cell" class="label" fxFlex="8%">Cell:</div>
      <div [hidden]="!ccCompany.phone_cell" fxFlex="95px">{{ccCompany.phone_2 }}</div>
      <div [hidden]="!ccCompany.phone_fax" class="label" fxFlex="8%">Fax:</div>
      <div [hidden]="!ccCompany.phone_fax" fxFlex="95px">{{ccCompany.phone_fax | phonefmt }}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex>{{ greed | currency }}</div>
      <button fxFlex="90px;" (click)="editForm()">Edit
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
