<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<mat-toolbar color="primary">
  <nav>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end end" fxLayoutGap="90px">
      <div fxFlex fxFlexAlign="start">Ostroff Enterprises{{isValidUser}} || {{inLogin}} {{!inLogin || isValidUser}} {{!(inLogin || isValidUser)}}</div>
      <div fxFlex fxFlexFill></div>
      <div fxFlex fxFlexOffset="150px">
        <div [hidden]="isValidUser || inLogin">
          <a routerLink="login" routerLinkActive="active" class="mat-button-wrapper">Login</a>
        </div>
        <div *ngIf="isValidUser && !inLogin" class="mat-h4" style="background-color: #e64a19">
          Welcome <span class="caption">{{admUser.user_name}}</span>
        </div>
      </div>
      <div fxFlexAlign="end end" [hidden]="inLogin || !isValidUser">
        <a routerLink="login" routerLinkActive="active" class="mat-button-wrapper" (click)="logout()">Logout2a</a>
        <!--<a routerLink="aboutus" routerLinkActive="active" >About</a>-->
      </div>
      <div fxFlexAlign="end end">
        <a routerLink="aboutus" routerLinkActive="active" class="mat-button-wrapper">About Us</a>
        <!--<a routerLink="aboutus" routerLinkActive="active" >About</a>-->
      </div>
      <div fxFlexFill fxFlex="30px"></div>
      <div fxFlex fxFlexAlign="end"><span class="caption">{{ version }}</span></div>
      <!--<li class="list-item"><a routerLink="aboutus" routerLinkActive="active">About</a></li>-->
      <!--<li class="list-item"><a routerLink="clients/address" routerLinkActive="active">Address</a></li>-->
      <!--<li class="list-item"><a routerLink="clients/person" routerLinkActive="active">Person</a></li>-->
      <!--<li class="list-item"><a routerLink="clients/personslist" routerLinkActive="active">Persons Yaakov</a></li>-->
    </div>

  </nav>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <div [hidden]="!isValidUser">
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [id]="link.id"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </div>
</nav>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
<div fxFlex class="mainPanel">
  <router-outlet></router-outlet>
  <div [hidden]="isValidUser || inLogin">
    <app-login ></app-login>
  </div>
</div>
</div>

