<h1 mat-dialog-title class="primary-color">{{title}}</h1>
<form [formGroup]="clientAccountForm" class="form-class" fxLayout="column" fxLayoutAlign="center center" novalidate>
  <!--(ngSubmit)="onSubmit()"-->
  <div fxFlex fxFlexFill>
    <mat-dialog-content class="accent-color">
      <!--<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">-->
        <!--<mat-form-field class="form-group" fxFlex>-->
          <!--<input matInput type="text" formControlName="account_id" placeholder="account_id">-->
          <!--<mat-error *ngIf="clientAccountForm.hasError('required')">clicc_id is <strong>required</strong>-->
          <!--</mat-error>-->
        <!--</mat-form-field>-->
      <!--</div>-->
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px"><label>Account Id:</label>{{clientAccountForm.value.account_id}}
        <label>Card:</label>
        <mat-select formControlName="cc_card_id" placeholder="Credit Card" fxFlex class="cardSelect">
          <mat-option [value]="" disabled>Select a credit card</mat-option>
          <mat-option *ngFor="let ccCard of ccCards" [value]="ccCard.cc_card_id+''"> {{ccCard.card_name}}</mat-option>
        </mat-select>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px"><label>Client</label>
        <mat-select formControlName="client_id" placeholder="Client" fxFlex class="clientSelect" (ngModelChange)="clientChange( $event)" >
          <mat-option [value]="" disabled>Select a client</mat-option>
          <mat-option *ngFor="let client of clientPersonList" [value]="client.client_id+''">
            {{ client.client_id }}] {{ client.first_name }} {{ client.middle_name }} {{ client.last_name }}
          </mat-option>
        </mat-select>
        <!--<mat-error *ngIf="clientAddressForm.hasError('required')">client_id is <strong>required</strong>-->
        <!--</mat-error>-->
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <mat-form-field class="form-group" fxFlex class="cardHolderName"><label>Name on Card:</label>
          <input matInput type="text" formControlName="name" placeholder="Card Holder Name">
          <mat-error *ngIf="clientAccountForm.hasError('required')">name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <mat-form-field class="form-group" fxFlex>
          <input matInput type="text" formControlName="account" placeholder="Account">
          <mat-error *ngIf="clientAccountForm.hasError('required')">account is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <mat-form-field class="form-group" fxFlex>
          <input matInput type="text" formControlName="account_num" placeholder="Account Number">
          <!--<show-errors [control]="accountNumber"></show-errors>-->
          <mat-error *ngIf="clientAccountForm.hasError('required')">Account number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group" fxFlex>
          <input matInput type="text" formControlName="account_info" placeholder="Info">
          <mat-error *ngIf="clientAccountForm.hasError('required')">Acc Info is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group" fxFlex="20">
          <input matInput [matDatepicker]="picker" formControlName="account_date" placeholder="Acct Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="clientAccountForm.hasError('required')">Acc Date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <mat-form-field class="form-group" fxFlex>
          <input matInput type="text" formControlName="cc_login" placeholder="Login">
          <mat-error *ngIf="clientAccountForm.hasError('required')">cc_login is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <mat-form-field class="form-group" fxFlex>
          <input [hidden]="showPwd" matInput type="password" formControlName="cc_password" placeholder="Password">
          <input [hidden]="!showPwd" matInput type="text" formControlName="cc_password" placeholder="Password">
          <mat-error *ngIf="clientAccountForm.hasError('required')">cc_password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <a fxFlex="20" (click)="showPwd = !showPwd">
          <div [hidden]="showPwd">
            <mat-icon>lock_open</mat-icon>Show
          </div>
          <div [hidden]="!showPwd">
            <mat-icon>lock</mat-icon>Hide
          </div>
        </a>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <mat-select formControlName="cc_status" placeholder="Card status" fxFlex="200px" >
          <mat-option [value]="" disabled>Card Status</mat-option>
          <mat-option *ngFor="let status of cardStatuses" [value]="status.tag">
            {{ status.description }}
          </mat-option>
        </mat-select>
        <mat-form-field class="form-group" fxFlex>
          <input matInput type="text" formControlName="annual_fee" placeholder="Annual fee"
           (blur)="transformAmount($event, 'annual_fee')" >
          <mat-error *ngIf="clientAccountForm.hasError('required')">annual_fee is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group" fxFlex>
          <input matInput type="text" formControlName="credit_limit" placeholder="Credit limit"
            (blur)="transformAmount($event, 'credit_limit')" >

          <mat-error *ngIf="clientAccountForm.hasError('required')">credit_limit is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <mat-form-field class="form-group" fxFlex>
          <input matInput type="text" formControlName="addtional_card" placeholder="Addtional Card Holder">
          <mat-error *ngIf="clientAccountForm.hasError('required')">addtional_card is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-dialog-content>
  </div>
  <div fxFlex="100%">
    <mat-dialog-actions>
      <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="20px">
        <button fxFlex="18%" mat-raised-button (click)="onSubmit()" type="submit" color="primary" class="submitButton"><mat-icon>done</mat-icon>Submit</button>
        <button fxFlex="18%" mat-raised-button (click)="onClickCancel()"><mat-icon>cancel</mat-icon> Cancel</button>
      </div>
    </mat-dialog-actions>
  </div>
  <p>Form value: {{clientAccountForm.value | json }}</p>
  <p>Form status: {{ clientAccountForm.status | json }}</p>
</form>
