<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" validate novalidate>
  <mat-card fxLayout="column" fxLayoutAlign="space-around center">
    <mat-card-header>
      <mat-card-title>{{msg}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center center">
      <div [hidden]="bSuccess">
        <mat-form-field>
          <input matInput
                 formControlName="login"
                 placeholder="Login"
                 class="form-control"
                 type="text"
                 required
          >
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput type="password" formControlName="pwd" placeholder="Password">
          <mat-hint>Must be at lest 6 characters.</mat-hint>
          <mat-error *ngIf="loginFormPwdControl.hasError('pattern')">
            Password must be 6 characters long and consist of mixed case, number, and punctuation.
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-raised-button type="submit" class="loginButton">Login</button>
        <button mat-button>Cancel</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
  <p>Form value: {{ loginForm.value | json }}</p>
  <p>Form status: {{ loginForm.status | json }}</p>
</form>
